
.title {
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 30px;
  display: flex;
justify-content: center;
}

.stat-list {
  display: flex;
}

.stat-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 60px;
  padding: 20px;

  color: white;
  background-color: #ccc;
}

.label {
  font-size: 12px;
  margin-bottom: 10px;
}
.box{
  width: 400px;
  margin-top: 50px;
  margin-left: 30px;
}