/* @import-normalize; bring in normalize.css styles */


body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

img {
  display: block;
  max-height: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.profile {
  margin-left: 100px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 250px;

  border: 1px solid #e9eef3;
  border-radius: 5px;
  box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.75);
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #000000;
}
.avatar {
  border: 3px solid #e9eef3;
  border-radius: 50%;

  margin-top: 30px;
  margin-bottom: 30px;
}
.name {
  font-weight: 700;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.tag {
  margin-bottom: 10px;
  color: #dbe1e7;
}

.location {
  margin-bottom: 30px;
  color: #dbe1e7;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  border-top: 1px solid #dddddd;
  background-color: #e9eef3;
}

.profile-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 15px;

  border-right: 1px solid #dddddd;
}

.profile-item:last-child {
  border-right: none;
}

.profile-label {
  font-size: 12px;
  margin-bottom: 5px;
}

.quantity {
  font-weight: 700;
}
.title {
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 30px;
  display: flex;
justify-content: center;
}

.stat-list {
  display: flex;
}

.stat-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 60px;
  padding: 20px;

  color: #fff;
  background-color: #ccc;
}

.label {
  font-size: 12px;
  margin-bottom: 10px;
}
.box{
  width: 400px;
  margin-top: 50px;
  margin-left: 30px;
}

.friend-list{
  margin-top: 50px;
  margin-left: 100px;
}

.friend-item {
  display: flex;
  align-items: center;
  width: 250px;

  margin-bottom: 15px;
  border: 1px solid #e9eef3;
  border-radius: 5px;
  box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.75);
}

.friend-item:last-child {
  margin-bottom: 0;
}

.status {
  display: block;
  margin-left: 15px;

  width: 15px;
  height: 15px;
  margin-right: 20px;

  border-radius: 50%;
}

.online {
  background-color: green;
}

.offline {
  background-color: tomato;
}

.friend-avatar {
  padding: 25px;
  margin-right: 20px;
  border: 1px solid #ccc;
  border-radius: 15px;

}

.friend-name {
  font-size: 20px;
  font-weight: 700;
}